* {
  margin: 0;
  padding: 0; }

.sobreMi {
  border: solid white 1px;
  border-radius: 30px;
  padding: 20px; }

.posicionRedes {
  position: fixed;
  top: 200px;
  right: 30px;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.seccionSobreMi {
  margin: 30px; }

.icon {
  width: 50px;
  height: 50px; }

/* Animaciones, transformaciones, transiciones */
/* Agranda botones de redes sociales */
.transicionBotones {
  transition: all 2s; }

.transicionBotones:hover {
  height: 80px;
  width: 80px; }

/* Cambio de color seccion sobre mi */
.transicionSobreMi {
  transition: all 4s; }

.transicionSobreMi:hover {
  background-color: #2E294E; }

/* Duracion de animacion titulo */
.animate__animated.animate__backInLeft {
  --animate-delay: 1s;
  --animate-duration: 5s; }

.fondoMorado {
  background-color: #2E294E; }

.decoracionLink {
  text-decoration: none; }
