.sobreMi {
  border-radius: 30px;
  padding: 20px; }

.posicionRedes {
  position: fixed;
  top: 200px;
  right: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.icon {
  height: 50px;
  width: 50px; }

.circular {
  border-radius: 50%; }

/* Animaciones, transformaciones, transiciones */
/* Agranda botones de redes sociales */
.transicionBotones {
  transition: all 2s; }

.transicionBotones:hover {
  height: 80px;
  width: 80px; }

/* Cambio de color seccion sobre mi */
.transicionSobreMi {
  transition: all 4s; }

.transicionSobreMi:hover {
  background-color: #2E294E; }

/* Duracion de animacion titulo */
.animate__animated.animate__backInLeft {
  --animate-delay: 1s;
  --animate-duration: 5s; }

.colorFuenteProyectos {
  color: #FFFF; }

.colorBoton {
  color: black;
  font-weight: bold; }

.decoracionLink {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

.index {
  background-color: #2E294E; }

.curriculumvitae {
  background-color: #720b98; }

.contactame {
  background-color: #6f2da8; }

.certificaciones {
  background-color: #8601af; }

.proyectos {
  background-color: #5b0a91; }
