
/* Variable para color de parrafo */
$colorParrafo: #FFFF;


/* color fuente de html proyectos */
.colorFuenteProyectos{
    color: $colorParrafo;
}

/* color botones de carrusel de imagenes */
.colorBoton{
    color: black;
    font-weight: bold ;
}

