
/* Seccion sobre mi index */
.sobreMi{
        
        border-radius: 30px;
        padding:20px;
    }

    /* Navegador de redes sociales */
.posicionRedes{
        position: fixed;
        top: 200px;
        right: 20px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

// Incluyendo mixin

    @mixin sizes($width, $height) {
        height: $height;
        width: $width;
     }
     
/* tamaño iconos */
.icon{
                @include sizes(50px, 50px);
    }

/* Circulo para logo */

.circular{
    border-radius: 50%;
}
     

/* Viñeta trofeo para certificaciones */
.vineta{
    @include sizes(30px,30px);
}

/* Redondear bordes */
.bordesRedondeados{
    border-radius: 20px ;
}
