
.sobreMi{
        
        border-radius: 30px;
        padding:20px;
    }
.posicionRedes{
        position: fixed;
        top: 200px;
        right: 20px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

// Incluyendo mixin

    @mixin sizes($width, $height) {
        height: $height;
        width: $width;
     }
     

.icon{
                @include sizes(50px, 50px);
    }

.circular{
    border-radius: 50%
}
     

